/* Reset
------------------------------------------------------------ */
* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
body { 
	background:#ffffff; 
	font-size: 20px; 
	color: #666666; 
	font-family: Arial, helvetica, sans-serif;
}


ol, ul { 
	list-style: none;
	 margin: 0;
	}

ul li { 
	margin: 0; 
	padding: 0; 
}

h1 { 
	margin-bottom: 10px;
	 color: #111111;
}	
h2{

	font-size: 20px;
	font-color: black;
	padding-bottom: 20px;
	text-align: left;
	text-transform: uppercase;
}

h3{

	font-size: 20px;
	font-color: black;
	padding-bottom: 20px;
	text-align: right;
	text-transform: uppercase;
}

a, img { 
	outline: none; 
	border:none; 
	color: #000; 
	font-weight: bold; 
	text-transform: uppercase;
	text-decoration: none;
}

p { 
	margin: 0 0 10px; 
	line-height: 1.4em; 
	font-size: 1.2em;
		background-color: #effdff;
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
		border-radius:20px;

}

img { 
	display: block; 
	margin-bottom: 10px;
}

aside { 
	font-style: italic; 
	font-size: 0.9em;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
	}
	

nav select {
  display: none;
}

/* Structure */
#wrapper {
	width: 96%;	
	max-width: 920px;
	margin: auto;
	padding: 2%;
	} 

	#main {
		width: 100%;
		margin-right: 5%;
		padding-top: 10%;
		float: left;
		font-size: 12px;

		}		
		
	aside {
		width: 35%;
		float: right;
		}

/* Logo H1 */
header h1 {
	height: 70px;
	width: 160px;
	float: left;
	display: block;
	background: url(../images/demo.gif) 0 0 no-repeat;
	text-indent: -9999px;

	}
		
/* Nav */
header nav {
	text-align: center;
	margin-top: 40px; 
	
	}
	
	header nav li {
		display: inline;
		margin-left: 15px;
		

		}

#skipTo {
	display: none;
	}
	#skipTo li {
		background: #b1fffc;
		}

/* Banner */			
#banner {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	}

	#banner img {
		width: 100%;
		}


#logo {
	float: center;
	text-align: center;
	margin-bottom: 15px;
	width: 40%;
	}

	#logo img {
		width: 40%;
		}


/* Media Queries */
@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}